<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Thymeleaf3 + Servlet3 示例</title>
 </head> 
 <body>
     <h1>Thymeleaf 3 + Servlet 3 示例</h1>
     
     
     
            标准方言 以th前缀开头的属性 , 模板是有缓存的<br/>
     <p>
         Hello <span th:text="${name}"></span>!
     </p>
     <div>
     	beginTime: <span th:text="${currentUser.createTimeRange.beginTime}"></span>
     </div>
     <div th:object="${currentUser}"> 
		first_name:  <span th:text="*{first_name}"> </span> *{ 是上面的th:object属性的${子级  ,像JS的 with(currentUser) 
	 </div>
	   
	 <a th:href="@{/jfreechart.jsp?id=1&name=中 }"> ${@ 带上下文路径  & 会被转议</a> <br/>
	 <a th:href="@{~/contents/main}"> @{~ 没有上下文路径</a>  <br/>
     <a th:href="@{//mycompany.com/res/initial}">@{// 协议 http,https 同浏览器 </a> <br/>
     
    ---- 定义代码片段  <br/>
     <div th:fragment="advertArea">
     		这里是广告区
    </div>
    
	----引用代码片  <br/>
	<div th:insert="common.html :: headerArea"></div>
	<div th:insert="~{this :: advertArea}"></div>  ~{}是可选的,this是本页面 <br/>
    <div th:include="~{:: advertArea}"></div> this是可选的, include 只包括子标签内容  <br/>
    <span th:replace="common.html :: headerArea"></span>th:replace  表示 不要自己的主标签，保留th:fragment的主标签  <br/>
	 

 </body> 
</html>