<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>test</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>DisplayChart</servlet-name>
    <servlet-class>org.jfree.chart.servlet.DisplayChart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayChart</servlet-name>
    <url-pattern>/servlet/DisplayChart</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>life-name</param-name>
    <param-value>LifeServler的值</param-value>
  </context-param>
  <session-config>
    <session-timeout>20</session-timeout>
  </session-config>
  <listener>
    <listener-class>myservlet.listener.MyContextAttributeListener</listener-class>
  </listener>
  <listener>
    <listener-class>myservlet.listener.MyServletRequestAttributeListener</listener-class>
  </listener>
  <listener>
    <listener-class>myservlet.listener.MyServletRequestListener</listener-class>
  </listener>
  <listener>
    <listener-class>myservlet.listener.MySessionAttributeListener</listener-class>
  </listener>
  <listener>
    <listener-class>myservlet.listener.MySessionListener</listener-class>
  </listener>
  <jsp-config>
    <taglib>
      <taglib-uri>/mytag</taglib-uri>
      <taglib-location>/WEB-INF/tlds/customTag.tld</taglib-location>
    </taglib>
  </jsp-config>
  
  <filter>
    <filter-name>myFilter</filter-name>
    <filter-class>myservlet.MyFilter</filter-class>
    <init-param>
      <param-name>blacklist-file</param-name>
      <param-value>c:/temp/blacklist.txt</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>myFilter</filter-name>
    <url-pattern>/security/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  
  <error-page>
    <exception-type>java.lang.RuntimeException</exception-type>
    <location>/error.jsp</location>
  </error-page>
  <servlet>
    <servlet-name>myJsp</servlet-name>
    <jsp-file>/security/develop/index.jsp</jsp-file>
    <run-as>
      <role-name></role-name>
    </run-as>
    <security-role-ref>
      <role-name>manager</role-name>
      <role-link>develop</role-link>
    </security-role-ref>
  </servlet>
  <servlet-mapping>
    <servlet-name>myJsp</servlet-name>
    <url-pattern>/devIndex</url-pattern>
  </servlet-mapping>
  <security-role>
    <role-name>market</role-name>
  </security-role>
  <security-role>
    <role-name>develop</role-name>
  </security-role>
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/security/loginForm.html</form-login-page>
      <form-error-page>/error.jsp</form-error-page>
    </form-login-config>
  </login-config>
   
  
</web-app>