<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="StudentMapper">
	<select id="getAll" resultType="Student" parameterType="map">
      select id,name,age,birthday from student 
	  ORDER BY id 
	  LIMIT #{_skiprows}, #{_pagesize}
	</select> <!--  MyBatisPagingItemReader的属性有_page , _pagesize , _skiprows -->

</mapper>
