
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<script type="text/javascript" th:src="@{sockjs.min.js}"></script>
<script type="text/javascript" th:src="@{stomp.min.js}"></script>
<script type="text/javascript" th:src="@{jquery.min.js}"></script>

<script type="text/javascript">

var stompClient=null;
function setConnected(connected)
{
	document.getELementById("connect").disabled=connected;
	document.getELementById("disconnect").disabled=!connected;
	document.getELementById("conversationDiv").style.visiblity=connected?'visible':'hidden';
	document.getELementById("response").innertHTML();
	
}
function connected( )
{
	var socket=new SocketJS('/endpointMy');
	stompClient=Stomp.over(socket);
	stompClient.connect({},function (frame){
		setConnected(true);
		console.log("connected :"+frame);
		stompClient.subscribe('/topic/getResponse',function (response){
			showResponse(JSON.parse(response.body).respMsg);
		})
	});
	
}
function disconnect( )
{
	if(stompClient!=null)
		stompClient.disconnect();
	setConnected(true);
	console.log("disconnect  " );
	
	
}
function sendName( )
{
	 
	var name=document.getELementById("name").value;
	stompClient.send("/welcome",{},JSON.stringify({'name':name}))
	 
}

function showResponse(message )
{
	 
	var response=document.getELementById("response").value;
	response.innerHTML(message);
	 
}

 

</script>
</head>
<body>
书上的，未测试呢？

<button id="connect" onclick="connect()" >连接</button>
<button id="disconnect" disabled="disabled" onclick="disconnect()" >断开连接</button>
<div id="conversationDiv">
	<input type="text" id="name">
	<button onclick="sendName()" >发送</button>
	<p id="response"></p>
</div>


</body>
</html>