<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:tool="http://www.springframework.org/schema/tool"
    xmlns:jee="http://www.springframework.org/schema/jee"
    xmlns:lang="http://www.springframework.org/schema/lang"
    xmlns:jms="http://www.springframework.org/schema/jms"
    xmlns:task="http://www.springframework.org/schema/task"
    xmlns:cache="http://www.springframework.org/schema/cache"
    xmlns:oxm="http://www.springframework.org/schema/oxm"
    xmlns:jdbc="http://www.springframework.org/schema/jdbc"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:websocket="http://www.springframework.org/schema/websocket"
    xmlns:security="http://www.springframework.org/schema/security"
    xmlns:redis="http://www.springframework.org/schema/redis"
    xmlns:mongo="http://www.springframework.org/schema/data/mongo"
    xmlns:hdp="http://www.springframework.org/schema/hadoop"
    xmlns:jpa="http://www.springframework.org/schema/data/jpa"
    xmlns:batch="http://www.springframework.org/schema/batch"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:c="http://www.springframework.org/schema/c"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context.xsd
                        http://www.springframework.org/schema/aop
                        http://www.springframework.org/schema/aop/spring-aop.xsd
                        http://www.springframework.org/schema/tx
                        http://www.springframework.org/schema/tx/spring-tx.xsd
                        http://www.springframework.org/schema/util
                        http://www.springframework.org/schema/util/spring-util.xsd
                        http://www.springframework.org/schema/tool
                        http://www.springframework.org/schema/tool/spring-tool.xsd
                        http://www.springframework.org/schema/jee
                        http://www.springframework.org/schema/jee/spring-jee.xsd
                        http://www.springframework.org/schema/jms
                        http://www.springframework.org/schema/jms/spring-jms.xsd
                        http://www.springframework.org/schema/task
                        http://www.springframework.org/schema/task/spring-task.xsd
                        http://www.springframework.org/schema/cache
                        http://www.springframework.org/schema/cache/spring-cache.xsd
                        http://www.springframework.org/schema/lang
                        http://www.springframework.org/schema/lang/spring-lang.xsd
                        http://www.springframework.org/schema/jdbc
                        http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
                        http://www.springframework.org/schema/oxm
                        http://www.springframework.org/schema/oxm/spring-oxm.xsd
                        http://www.springframework.org/schema/mvc
                        http://www.springframework.org/schema/mvc/spring-mvc.xsd
                        http://www.springframework.org/schema/websocket
                        http://www.springframework.org/schema/websocket/spring-websocket.xsd
                        http://www.springframework.org/schema/security
                        http://www.springframework.org/schema/security/spring-security.xsd
                        http://www.springframework.org/schema/redis
                        http://www.springframework.org/schema/redis/spring-redis.xsd
                        http://www.springframework.org/schema/data/mongo
                        http://www.springframework.org/schema/data/mongo/spring-mongo.xsd 
                        http://www.springframework.org/schema/hadoop
                        http://www.springframework.org/schema/hadoop/spring-hadoop.xsd
                        http://www.springframework.org/schema/data/jpa
                        http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
                        http://www.springframework.org/schema/batch
                        http://www.springframework.org/schema/batch/spring-batch.xsd">
						
	<!-- school -->	
	<bean  class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="mappings">
			<value><!-- 使用 value,也可使用props-->
				/helloWorld.mvc				=helloWorldCntroller
				/login.mvc					=loginController <!-- 可以不用加/ -->
				/register.mvc				=enterRegisterController <!-- UrlFilenameViewController,找register名字做为view -->
				/queryStudentDetailById.mvc	=studentMultiActionController
				queryStudentByClazz.mvc		=studentMultiActionController
				showClazzDetailById.mvc		=clazzMultiActionController
				/showAllClazz.mvc			=clazzMultiActionController
				/showTeacherDetailById.mvc	=teacherMultiActionController
				/showAllTeacher.mvc			=teacherMultiActionController
				/delegateMulti/*			=delegateMulti 
			</value>
		</property>
	
		<property name="interceptors">
			<list>
				<bean class="spring_jsp.extention.MyInterceptor"></bean>
			</list>
		</property>
	</bean>
	<bean class="org.springframework.web.servlet.view.UrlBasedViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"></property>
		<property name="prefix" value="/WEB-INF/jsp/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
	<bean id="helloWorldCntroller" class="spring_jsp.HelloWorldController" />
	<bean  id="loginController"  class="org.springframework.web.servlet.mvc.ParameterizableViewController">
	 	<property name="viewName" value="school/login"></property> <!-- 可不用自己建立的Controller,而直接进入login.jsp页面的方式 -->
	</bean>
	
	<bean  id="enterRegisterController"  class="org.springframework.web.servlet.mvc.UrlFilenameViewController">
	</bean> <!-- 视图名  就是配置的URL的部分  -->
	
	<bean id="internalPathMethodNameResolver" class="org.springframework.web.servlet.mvc.multiaction.InternalPathMethodNameResolver" />
	<!-- 根据请求路径名对应方法名-->	
	<bean id="studentMultiActionController" class="spring_jsp.StudentMultiActionController">
		<property name="methodNameResolver" ref="internalPathMethodNameResolver"/>
	</bean>
	
	<bean id="paramMethodNameResolver"   class="org.springframework.web.servlet.mvc.multiaction.ParameterMethodNameResolver" >
		<property name="paramName" value="doMethod" /><!-- 根据doMethod参数 决定方法名-->
	</bean>
	<bean id="clazzMultiActionController" class="spring_jsp.ClazzMultiActionController">
		<property name="methodNameResolver" ref="paramMethodNameResolver"/>
	</bean>
	
	<!-- 只对特定的controller -->
	<bean id="propertiesMethodNameResolver" class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver" >
		<property name="mappings">
			<props> <!-- 使用props也可使用 value -->
				<prop key="/showTeacherDetailById.mvc">queryTeacherDetailById</prop>
				<prop key="/showAllTeacher.mvc">queryAllTeacher</prop> 
			</props>
		</property>
	</bean>
    <bean id="teacherMultiActionController" class="spring_jsp.TeacherMultiActionController">
		<property name="methodNameResolver" ref="propertiesMethodNameResolver"/>
	</bean>
	
 <!-- 不用继承自MultiActionController,使用 delegate方式,默认是InternalPathMethodNameResolver-->
  <bean id="delegateMulti" class="org.springframework.web.servlet.mvc.multiaction.MultiActionController">
 	<property name="delegate">
 		 <bean class="spring_jsp.MyDelegateMulti"></bean>
 	</property>
 </bean>



</beans>