<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:tool="http://www.springframework.org/schema/tool"
    xmlns:jee="http://www.springframework.org/schema/jee"
    xmlns:lang="http://www.springframework.org/schema/lang"
    xmlns:jms="http://www.springframework.org/schema/jms"
    xmlns:task="http://www.springframework.org/schema/task"
    xmlns:cache="http://www.springframework.org/schema/cache"
    xmlns:oxm="http://www.springframework.org/schema/oxm"
    xmlns:jdbc="http://www.springframework.org/schema/jdbc"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:websocket="http://www.springframework.org/schema/websocket"
    xmlns:security="http://www.springframework.org/schema/security"
    xmlns:redis="http://www.springframework.org/schema/redis"
    xmlns:mongo="http://www.springframework.org/schema/data/mongo"
    xmlns:hdp="http://www.springframework.org/schema/hadoop"
    xmlns:jpa="http://www.springframework.org/schema/data/jpa"
    xmlns:batch="http://www.springframework.org/schema/batch"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:c="http://www.springframework.org/schema/c"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context.xsd
                        http://www.springframework.org/schema/aop
                        http://www.springframework.org/schema/aop/spring-aop.xsd
                        http://www.springframework.org/schema/tx
                        http://www.springframework.org/schema/tx/spring-tx.xsd
                        http://www.springframework.org/schema/util
                        http://www.springframework.org/schema/util/spring-util.xsd
                        http://www.springframework.org/schema/tool
                        http://www.springframework.org/schema/tool/spring-tool.xsd
                        http://www.springframework.org/schema/jee
                        http://www.springframework.org/schema/jee/spring-jee.xsd
                        http://www.springframework.org/schema/jms
                        http://www.springframework.org/schema/jms/spring-jms.xsd
                        http://www.springframework.org/schema/task
                        http://www.springframework.org/schema/task/spring-task.xsd
                        http://www.springframework.org/schema/cache
                        http://www.springframework.org/schema/cache/spring-cache.xsd
                        http://www.springframework.org/schema/lang
                        http://www.springframework.org/schema/lang/spring-lang.xsd
                        http://www.springframework.org/schema/jdbc
                        http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
                        http://www.springframework.org/schema/oxm
                        http://www.springframework.org/schema/oxm/spring-oxm.xsd
                        http://www.springframework.org/schema/mvc
                        http://www.springframework.org/schema/mvc/spring-mvc.xsd
                        http://www.springframework.org/schema/websocket
                        http://www.springframework.org/schema/websocket/spring-websocket.xsd
                        http://www.springframework.org/schema/security
                        http://www.springframework.org/schema/security/spring-security.xsd
                        http://www.springframework.org/schema/redis
                        http://www.springframework.org/schema/redis/spring-redis.xsd
                        http://www.springframework.org/schema/data/mongo
                        http://www.springframework.org/schema/data/mongo/spring-mongo.xsd 
                        http://www.springframework.org/schema/hadoop
                        http://www.springframework.org/schema/hadoop/spring-hadoop.xsd
                        http://www.springframework.org/schema/data/jpa
                        http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
                        http://www.springframework.org/schema/batch
                        http://www.springframework.org/schema/batch/spring-batch.xsd"> 
 
 <!--
	  <mongo:mongo-client  id="mongoClient" host="127.0.0.1" port="27017"  credentials="rootUser:rootPass@admin"  >
	    <mongo:client-options connections-per-host="8"
                   threads-allowed-to-block-for-connection-multiplier="4"
                   connect-timeout="1000"
                   max-wait-time="1500" 
                   socket-keep-alive="true"
                   socket-timeout="1500"    />
	</mongo:mongo-client>
 
   二选一 --> 
    <bean id="mongoClient" class="org.springframework.data.mongodb.core.MongoClientFactoryBean">
        <property name="credentials"  >
        	<list>
        		<bean class="com.mongodb.MongoCredential" factory-method="createCredential">
        			<constructor-arg name="userName" value="zh"></constructor-arg>
        			<constructor-arg name="password" value="123"></constructor-arg>
        			<constructor-arg name="database" value="reporting"></constructor-arg>
        		</bean>
        	</list>
        </property>
        <!-- 
        <property name="host" value="localhost" />
        <property name="port" value="27017" />
        -->
        <!--  为事务用 -->
        <property name="replicaSetSeeds" > 
        	<array>
        		<bean class="com.mongodb.ServerAddress" >
        			<constructor-arg index="0" value="127.0.0.1"/>
        			<constructor-arg index="1" value="37017"/> 
        		</bean>
        		<bean class="com.mongodb.ServerAddress" >
        			<constructor-arg index="0" value="127.0.0.1"/>
        			<constructor-arg index="1" value="37018"/> 
        		</bean>
        		<bean class="com.mongodb.ServerAddress" >
        			<constructor-arg index="0" value="127.0.0.1"/>
        			<constructor-arg index="1" value="37019"/> 
        		</bean>
        	</array>
        </property>
           
    </bean>
      
    
   <mongo:db-factory  id="mongoDbFactory" dbname="reporting" mongo-ref="mongoClient"/>
   
	<bean id="mongoMappingContext" class="org.springframework.data.mongodb.core.mapping.MongoMappingContext"> 
	</bean>
	
	<bean id="defaultMongoTypeMapper" class="org.springframework.data.mongodb.core.convert.DefaultMongoTypeMapper"> 
	</bean>
	
	<bean id="mappingConverter" class="org.springframework.data.mongodb.core.convert.MappingMongoConverter">
		<constructor-arg name="mongoDbFactory" ref="mongoDbFactory"/>
		 <constructor-arg name="mappingContext" ref="mongoMappingContext"/> 
		 <property name="typeMapper" ref="defaultMongoTypeMapper" ></property>
	</bean>
	
	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
        <constructor-arg name="mongoDbFactory" ref="mongoDbFactory" />
        <constructor-arg name="mongoConverter" ref="mappingConverter"/>
    </bean>
     
     <!-- 使用 方式一 -->
	 <bean id="natureRepository"  class="springdata_mongodb.MyMongoRepositoryImpl">
        <property name="mongoTemplate" ref="mongoTemplate" />
    </bean>
    
	<!-- 方式二  repository-impl-postfix="Impl" -->
	<mongo:repositories base-package="springdata_mongodb.repo" ></mongo:repositories>
	<mongo:mapping-converter base-package="springdata_mongodb.model" db-factory-ref="mongoDbFactory"></mongo:mapping-converter>
			  
</beans>