<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:jms="http://www.springframework.org/schema/jms"
	xmlns:amq="http://activemq.apache.org/schema/core"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/jee
						http://www.springframework.org/schema/jee/spring-jee.xsd
						http://www.springframework.org/schema/jms
						http://www.springframework.org/schema/jms/spring-jms.xsd
  						http://activemq.apache.org/schema/core
						http://activemq.apache.org/schema/core/activemq-core.xsd">
						
	<jee:jndi-lookup id="jmsConnectionFactory" jndi-name="java:comp/env/jms/ConnectionFactory" />
	<jee:jndi-lookup id="jmsQueue" jndi-name="java:comp/env/jms/Queue" />
	
	<bean id="receive" class="activemq_web.QueueReceiverListener"></bean>
	<jms:listener-container connection-factory="jmsConnectionFactory">
		<jms:listener destination="jmsQueue" ref="receive"/>
	</jms:listener-container>
	
	<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="jmsConnectionFactory"></property>
		<property name="defaultDestination" ref="jmsQueue"></property>
	</bean>

	<bean id="sender" class="activemq_web.Sender">
		<property name="jmsTemplate" ref="jmsTemplate"></property>
	</bean>
</beans>