<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	</head>
	<body>
		Hello $name  <br/>
		你好  $name  <br/>
		
		
		注释单行 ## XXX  
		
		注释多行
		#* xxx
		xxxx
		xxxxxxxxxxxx*#
		
		而$!username  ##返回空字符串""    
		
		#set ($var="helo")
		test"$var" ##返回testhello   
		
		test'$var' ##返回test'$var'    

#if( $var )
<strong>Velocity!</strong>
#end

#if($foo)
	<strong>foo!</strong>
#elseif($var)
	<strong>var!</strong>
#else
	<strong>no!</strong>
#end




#include( "menu.html","bottom.html" )

#parse( "mytemplate02.vm" )



#set( $monkey = $bill ) ## variable reference
#set( $monkey.Blame = $whitehouse.Leak ) ## property reference
#set( $monkey.Plan = $spindoctor.weave($web) ) ## method reference
#set( $monkey.Say = ["Not", $my, "fault"] ) ## ArrayList
#set( $monkey.Map = {"banana" : "good", "roast beef" : "bad"}) ## Map

 
#[[
#foreach ($woogie in $boogie)
  nothing will happen to $woogie
#end
]]#


	</body>
</html>